# database
server/config/database.js
# dependencies
server/node_modules
server/package-lock.json
client/node_modules
client/package-lock.json
node_modules


# misc
.DS_Store
server/.env.local

#log
server/log/*