@mixin titleHeader {
  text-align: center;
  line-height: 5rem;
}
.board-container {
  width: 960px;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  .board-container-title {
    padding: 20px;
    font-size: 3.2rem;
    font-weight: bold;
  }
  .board-container-board {
    border-radius: 1rem;
    background-color: rgb(243, 243, 243);
    width: 100%;
    height: 100%;
    .board-header {
      border-radius: 1rem 1rem 0px 0px;
      display: flex;
      height: 5rem;
      font-weight: bold;
      font-size: 1.3rem;
      background-color: rgb(111, 153, 101);
      color: rgb(255, 255, 255);
      .board-header-num {
        @include titleHeader();
        width: 10%;
      }
      .board-header-writer {
        border-left: 2px solid rgb(243, 243, 243);
        @include titleHeader();
        width: 15%;
      }
      .board-header-title {
        border-left: 2px solid rgb(243, 243, 243);
        @include titleHeader();
        width: 50%;
      }
      .board-header-date {
        border-left: 2px solid rgb(243, 243, 243);
        @include titleHeader();
        width: 25%;
      }
    }
  }
  .board-btn {
    width: 120px;
    height: 60px;
    margin-top: 10px;
    align-self: flex-end;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    background-color: rgb(111, 153, 101);
  }
}
